[user]
    name = Nigel Greenway
    email = nigel_greenway@me.com
[core]
    excludesfile = ~/.gitignore_global
    precomposeunicode = true
    editor = vim
[difftool "sublime"]
    cmd = subl -w $LOCAL $REMOTE
[color]
    ui = true
[color "status"]
    added = green
    changed = blue
    untracked = red
[color "diff"]
    meta = yellow
    old = red
    new = green
[init]
    templatedir = ~/.git_template
[push]
    default = simple
[mergetool "sublime"]
    cmd = subl -w $MERGED
    trustExitCode = false
[merge]
    tool = sublime
[alias]
    undo-commit = reset --soft HEAD^
    stat-d = ls-files --modified --deleted --exclude-standard
    aa = add -A
    a = add -p
    s = status
    c = commit
    ci = commit -m
    ca = commit -am
    ss = stash save
    sl = stash list
    u = push
    d = pull
    prep = diff --cached
